[Unit]
Description=socksd service
After=network.target

[Service]
User=nobody
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/socksd -i 0.0.0.0 -p 1337
ExecStop=killall socksd

[Install]
WantedBy=multi-user.target
