#!/bin/sh

if [ -e /run/systemd/system ] ; then
    exit 0
fi

do_socksd()
{
    case "$1" in
        start)
            /usr/bin/socksd -i 0.0.0.0 -p 1337
            ;;
        stop)
            pkill -x socksd
            ;;
        restart|reload|force-reload)
            pkill -x socksd
            /usr/bin/socksd -i 0.0.0.0 -p 1337
            ;;
        *)
            return 1
            ;;
    esac
}

do_socksd "$@"
