[Unit]
Description=socksd service
After=network.target

[Service]
User=nobody
Type=simple
ExecStart=/usr/bin/socksd -i 0.0.0.0 -p 1337
Restart=on-failure

[Install]
WantedBy=multi-user.target
